@font-face {
  font-family: Cormorant;
  src: url('/font/Cormorant-Regular.ttf');
  src: local('Cormorant'), local('Cormorant'),
    url('/font/Cormorant-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Cormorant;
  src: url('/font/Cormorant-Italic.ttf');
  src: local('Cormorant'), local('Cormorant'),
    url('/font/Cormorant-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT';
  src: url('/font/FuturaPT-Book.ttf');
  src: local('Futura PT'), local('Futura PT'),
    url('/font/FuturaPT-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sansburg Signature';
  src: url('/font/Sansburg Signature.ttf');
  src: local('Futura PT'), local('Futura PT'),
    url('/font/Sansburg Signature.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
