* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Futura PT', sans-serif;
}

main {
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 10px;

  @include tablet {
    padding: 0 34px;
  }

  @include desktop {
    display: block;
    width: 1170px;
    margin: 0 auto;
    padding: 0 34px;
  }
}

svg {
  fill: white;
}
