@mixin font($font-size, $line-height, $font-family) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin tablet {
  @media screen and (min-width: 767.98px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1169.98px) {
    @content;
  }
}
