// Colors
$primary: #e8e3db;
$secondary: #f4f4f4;
$accent: #383634;
$black: #000;
$white: #fff;

// Typography
$mobile-title: 400 41px/52px 'Cormorant', serif;
$mobile-text: normal 400 16px/21px 'Futura PT', sans-serif;
$desktop-text: normal 400 18px/23px 'Futura PT', sans-serif;
$records-title: normal 20px/26px 'Futura PT', sans-serif;
$desktop-title: 400 64px/78px 'Cormorant', serif;

$decor-small: 400 64px/76px 'Sansburg Signature', sans-serif;
$decor-big: 400 128px/153px 'Sansburg Signature', sans-serif;


$subtitle-italic: italic 400 40px/49px 'Cormorant', serif;
$subtitle-normal: normal 400 40px/49px 'Cormorant', serif;

$titles: italic 400 48px/59px 'Cormorant', serif;