// Colors
$primary: #e8e3db;
$secondary: #f4f4f4;
$accent: #383634;
$black: #000;
$white: #fff;
$light-black: #222;

// Decoration borders
$two-borders: linear-gradient(to right, #000 1px, transparent 1px) 0 0,
  linear-gradient(to left, #000 1px, transparent 1px) 100% 100%,
  linear-gradient(to bottom, #000 1px, transparent 1px) 0 0,
  linear-gradient(to top, #000 1px, transparent 1px) 100% 100%;

$two-borders-reversed: linear-gradient(to left, #000 1px, transparent 1px) top
    right,
  linear-gradient(to right, #000 1px, transparent 1px) bottom left,
  linear-gradient(to bottom, #000 1px, transparent 1px) top right,
  linear-gradient(to top, #000 1px, transparent 1px) bottom left;

$top-border: linear-gradient(to bottom, transparent 1px, #000 1px) top right,
  linear-gradient(to right, transparent 1px, #000 1px) top right,
  linear-gradient(to top, transparent 1px, #000 1px) top right;

$bottom-bottom: linear-gradient(to top, transparent 1px, #000 1px) bottom left,
  linear-gradient(to right, transparent 1px, #000 1px) bottom left;

// Updated typography
$futura-small: 400 16px/21px 'Futura PT', sans-serif;
$futura-medium: 400 18px/23px 'Futura PT', sans-serif;
$futura-big: 20px/26px 'Futura PT', sans-serif;

$cormorant-mobile: 400 41px/52px 'Cormorant', serif;
$cormorant-small: 400 40px/48px 'Cormorant', serif;
$cormorant-medium: 400 48px/58px 'Cormorant', serif;
$cormorant-big: 400 64px/78px 'Cormorant', serif;

$handwritten-small: 400 40px/24px 'Sansburg Signature', sans-serif;
$handwritten-medium: 400 64px/76px 'Sansburg Signature', sans-serif;
$handwritten-big: 400 128px/153px 'Sansburg Signature', sans-serif;
