// Colors

$primary: #e8e3db;
$secondary: #f4f4f4;
$accent: #383634;
$black: #000;
$white: #fff;
// Typography

$mobile-title: 400 43px/52px 'Cormorant', serif;
$mobile-text: normal 400 16px/21px 'Futura PT', sans-serif;
$desktop-text: normal 400 18px/23px 'Futura PT', sans-serif;
$decor: 400 64px/72px 'Sansburg Signature', sans-serif;
