.about {
  background: $secondary;

  &__wrapper {
    @include tablet {
      padding-top: 62px;
      padding-bottom: 91px;
    }

    @include desktop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 35px;
      padding-bottom: 30px;
      flex-direction: row;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 42px;
    padding-bottom: 60px;
  }

  &__photo {
    width: 100%;
    max-width: 373px;
  }

  &__description {
    @include tablet {
      margin-top: 60px;
    }

    margin-top: 40px;

    &-title {
      margin-top: 15px;
    }

    &-info {
      @include tablet {
        margin-top: 34px;
        font: $desktop-text;
      }

      @include desktop {
        max-width: 616px;
      }

      margin-top: 18px;
      font: $mobile-text;
    }
  }
}
