.accordion {
  background: $secondary;

  &__content {
    padding-top: 97px;
    padding-bottom: 148px;
    @include tablet {
      padding-top: 134px;
      padding-bottom: 207px;
    }
    @include desktop {
      padding-top: 125px;
    }
  }

  .content-accordion {
    &__items {
      width: 100%;
      margin-top: 62px;
      border-top: 1px solid $black;
      @include tablet {
        margin-top: 89px;
      }
    }
  }

  .accordion-items {
    &__item {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $black;
    }
  }

  .item-top {
    position: relative;
    &__title {
      font: $cormorant-medium;
      text-transform: lowercase;
      font-style: italic;
      max-width: 80%;
      padding-top: 28px;
      padding-bottom: 32px;
      margin-bottom: 0;
    }

    &__icon {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      width: 66px;
      height: 66px;
      background-color: $white;
      border-radius: 50%;
      transition: transform 0.6s, background-color 0.6s;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 29px;
        height: 1px;
        background-color: $black;
        transition: transform 0.6s, background-color 0.6s;
      }

      &::before {
        transform: translate(-50%, -50%) rotate(0deg);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }

  .item-bottom {
    font: $futura-small;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-out;
    @include tablet {
      font: $futura-medium;
    }
  }

  .accordion-item.open {
    .accordion-item__bottom {
      max-height: 500px;
      margin-bottom: 30px;
      transition: max-height 0.6s all;
    }

    .item-top__icon {
      &::before {
        transform: translate(-50%, -50%) rotate(135deg);
      }
      &::after {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }
}
