.btn {
  width: 300px;
  height: 60px;
  font: $futura-medium;
  line-height: 0;
  text-align: center;
  color: $white;
  background-color: $accent;
  border: 1px solid $accent;
  border-radius: 50px;
  transition: all 0.3s ease;

  &:hover {
    color: $accent;
    background-color: $white;
    border: 1px solid $accent;
  }

  &:active {
    color: $accent;
    background-color: $primary;
    border: 1px solid $primary;
  }

  &-hero {
    @include tablet {
      margin-top: 54px;
    }

    margin-top: 26px;
  }

  &-courses {
    display: block;
    margin: 0 auto;
    margin-top: 50px;

    @include desktop {
      margin-top: 68px;
    }
  }

  &-success {
    margin-top: 50px;
  }
}
