.btn {
  display: block;
  width: 300px;
  height: 60px;
  font: $futura-medium;
  line-height: 0;
  text-align: center;
  color: $white;
  background-color: $accent;
  border: 1px solid $accent;
  border-radius: 50px;
  transition: all 0.6s ease;
  line-height: 55px;
  @include desktop {
    cursor: pointer;
  }

  &:hover {
    color: $accent;
    background-color: $white;
    border: 1px solid $accent;
  }

  &:active {
    color: $accent;
    background-color: $primary;
    border: 1px solid $primary;
  }

  &--invert {
    color: $accent;
    background-color: $primary;
    border: 1px solid $primary;
  }

  &--hero {
    @include tablet {
      margin-top: 54px;
    }

    margin-top: 26px;
  }

  &--courses {
    display: block;
    margin: 0 auto;
    margin-top: 50px;

    @include desktop {
      margin-top: 68px;
    }
  }

  &--success {
    margin-top: 50px;
  }

  &--products {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out;
  }

  &--product {
    width: 100%;
    align-self: center;
    @include tablet {
      width: 60%;
    }
    @include desktop {
      width: 50%;
    }
  }

  &--course {
    width: 100%;
    &:last-child {
      margin-top: 20px;
    }

    @include tablet {
      &:last-child {
        margin-top: 0px;
        margin-left: 20px;
      }
    }
  }

  &--system {
    margin-top: 50px;
    @include tablet {
      margin-top: 75px;
    }
  }

  &--order {
    margin-top: 30px;
  }

  &--payment {
    margin: 0 auto;
    margin-top: 33px;
  }

  &-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $accent;
    color: $accent;
    border-radius: 50px;
    height: 45px;
    @include desktop {
      cursor: pointer;
    }
    &__dec,
    &__inc {
      padding: 13.25px 15px;
      border-radius: 50px;
      transition: all 0.6s ease;
      svg {
        width: 14.25px;
        height: 15px;
        stroke: $accent;
      }
      &:active {
        background: $accent;
        svg {
          stroke: $white;
        }
      }
    }

    &__amount {
      color: $accent;
      font-size: 12px;
      padding: 0 20px;
    }
  }
}
