.cart-order {
  &__content {
    padding-top: 229px;
    padding-bottom: 113px;
  }

  .order-content {
    &__cards {
      margin-top: 36px;
    }
  }

  .order-cards {
    &__quantity {
      font: $futura-medium;
    }

    &__items {
      margin-top: 17px;
      border-top: 1px solid $grey;
      width: 100%;
      max-width: 340px;
    }
  }

  .order-item {
    border-bottom: 1px solid $black;
    &__image {
      margin-top: 18px;
      width: 100%;
      max-width: 340px;
      max-height: 240px;
      object-fit: cover;
    }
    &__description {
      margin-top: 18px;
      margin-bottom: 29px;
      display: flex;
      flex-direction: column;
    }
  }

  .item-description {
    &__info {
      font: $futura-medium;
      margin-top: 8px;
    }

    &__bottom {
      margin-top: 27px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  .top-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__name {
      flex-basis: 80%;
      font: $futura-big;
      font-weight: 450;
    }
    &__btn {
      text-align: right;
      font: $futura-small;
      align-self: flex-start;
      border-bottom: 1px solid $grey;
      color: $light-black;
    }
  }

  .bottom-description {
    &__btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid $accent;
      color: $accent;
      border-radius: 50px;
      width: 128px;
      height: 45px;
    }

    &__date {
      font: $futura-medium;
      color: $black;
    }

    &__price {
      font: $futura-big;
      font-weight: 450;
    }
  }

  .bottom-btn {
    &__dec,
    &__inc {
      padding: 13.25px 15px;
      border-radius: 50px;
      svg {
        width: 14.25px;
        height: 14.25px;
        stroke: $accent;
      }
      &:active {
        background: $accent;
        svg {
          stroke: $white;
        }
      }
    }

    &__amount {
      color: $accent;
      font-size: 12px;
    }
  }
}
