.handwritten-decoration {
  position: relative;
  z-index: 10;
  height: 0;
  &__text {
    font: $handwritten-medium;
    white-space: nowrap;
    color: $accent;
    opacity: 0.35;
    &--left {
      position: absolute;
      top: -44px;
      left: 0;
      @include tablet {
        top: -94px;
      }
    }

    &--product {
      left: -194px;
    }

    @include tablet {
      font: $handwritten-big;
    }
  }
}

.decor {
  position: relative;

  &__line {
    position: absolute;
    font: $cormorant-big;
    text-transform: uppercase;
    white-space: nowrap;

    i {
      font: inherit;
      font-style: italic;
      text-transform: lowercase;
    }

    &--first {
      top: 0;
      left: -280px;

      @include desktop {
        left: -400px;
      }
    }

    &--second {
      top: 80px;
      left: -344px;

      @include desktop {
        left: -466px;
      }
    }

    &--third {
      top: 160px;
      left: -296px;

      @include desktop {
        left: -420px;
      }
    }

    &--fourth {
      top: 240px;
      left: -740px;

      @include desktop {
        left: -860px;
      }
    }

    &--fifth {
      top: 320px;
      left: -109px;

      @include desktop {
        left: -234px;
      }
    }
  }
}
