.events {
  background: $primary;
  position: relative;
  overflow: hidden;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 60px;
    padding-bottom: 97px;
    @include tablet {
      padding-top: 93px;
      padding-bottom: 167px;
    }
  }

  &__headline {
    align-self: center;
  }

  &__title {
    align-self: center;
    text-align: center;
  }
  
  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;

    &--first {
      margin-top: 57px;
      @include tablet {
        margin-top: 62px;
      }
    }

    &--second {
      margin-top: 87px;

      .events__list-header {
        @include tablet {
          text-align: right;
        }
      }

      .events__list-wrapper {
        @include desktop {
          flex-direction: row-reverse;
        }
      }
    }

    &-wrapper {
      @include desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &-header {
      font: $subtitle-italic;
      border-bottom: 1px solid $black;
      border-bottom-width: 100%;
      @include tablet {
        font: $titles;
        padding-bottom: 24px;
      }
    }

    &-items {
      @include desktop {
        flex-basis: 64%;
      }
    }

    &-item {
      margin-top: 60px;

      @include tablet {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 52px;
      }
    }

    &-date {
      font: $subtitle-normal;
    }

    &-title {
      font: $mobile-text;
      font-weight: bold;
      margin-top: 30px;
      @include tablet {
        margin-top: 0;
      }
    }

    &-subtitle {
      font: $desktop-text;
      margin-top: 9px;
    }

    &-link {
      display: block;
      margin-top: 30px;
      color: $black;
      font: $mobile-text;
      @include tablet {
        align-self: flex-start;
        margin-top: 0;
      }
    }

    &-icon {
      display: inline-block;
      width: 35px;
      height: 10px;
      margin-left: 19px;
    }

    &-image {
      width: 100%;
      display: block;
      margin: 0 auto;
      &--first {
        max-width: 253px;
        margin-top: 47px;
        @include tablet {
          margin: 0;
          margin-right: auto;
          margin-top: 78px;
          max-width: 343px;
        }
      }
      &--second {
        max-width: 336px;
        margin-top: 47px;
        @include tablet {
          margin: 0;
          margin-top: 90px;
          margin-left: auto;
          max-width: 458px;
        }
      }
    }
  }
}