.events {
  position: relative;
  overflow: hidden;
  background: $primary;

  &__content {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 97px;

    @include tablet {
      padding-top: 93px;
      padding-bottom: 167px;
    }

    @include desktop {
      padding-top: 124px;
      padding-bottom: 235px;
    }
  }

  .content-events {
    &__headline {
      text-align: center;
    }

    &__title {
      margin-top: 15px;
      text-align: center;
    }

    &__list {
      display: flex;
      flex-direction: column;
      width: 100%;

      &--left {
        margin-top: 57px;

        @include tablet {
          margin-top: 62px;
        }

        @include desktop {
          margin-top: 79px;
        }
      }

      &--right {
        margin-top: 87px;

        @include desktop {
          margin-top: 53px;
        }
      }

      .events-list {
        &__title {
          font: $cormorant-small;
          font-style: italic;
          border-bottom: 1px solid $black;
          padding-bottom: 9px;

          @include tablet {
            padding-bottom: 24px;
            font: $cormorant-medium;
            font-style: italic;
            &--left {
              text-align: left;
            }
            &--right {
              text-align: right;
            }
          }
        }

        &__content {
          @include desktop {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &--right {
              flex-direction: row-reverse;
            }
          }
        }

        &__items {
          @include desktop {
            flex-basis: 64%;
          }
        }

        &__item {
          margin-top: 60px;
          @include tablet {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 52px;
          }

          .list-item {
            &__date {
              font: $cormorant-small;
            }

            &__description {
              &-title {
                margin-top: 30px;
                font: $futura-small;
                font-weight: 450;

                @include tablet {
                  margin-top: 0;
                }
              }

              &-subtitle {
                margin-top: 9px;
                font: $futura-medium;
                font-weight: 400;
              }
            }

            &__link {
              display: block;
              margin-top: 30px;
              font: $futura-small;
              color: $black;

              @include tablet {
                align-self: flex-start;
                margin-top: 0;
              }

              &-icon {
                display: inline-block;
                width: 35px;
                height: 10px;
                margin-left: 19px;
              }
            }
          }
        }

        &__image {
          display: block;
          width: 100%;
          margin: 0 auto;

          &--left {
            max-width: 253px;
            margin-top: 47px;

            @include tablet {
              max-width: 343px;
              margin: 0;
              margin-top: 78px;
              margin-right: auto;
            }

            @include desktop {
              margin-top: 97px;
            }
          }

          &--right {
            max-width: 336px;
            margin-top: 47px;

            @include tablet {
              max-width: 458px;
              margin: 0;
              margin-top: 90px;
              margin-left: auto;
            }
          }
        }
      }
    }
  }
}
