.events {
  position: relative;
  overflow: hidden;
  background: $primary;

  &__wrapper {
    @include tablet {
      padding-top: 93px;
      padding-bottom: 167px;
    }

    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 97px;
    flex-direction: column;
  }

  &__headline {
    align-self: center;
  }

  &__title {
    align-self: center;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;

    &--first {
      @include tablet {
        margin-top: 62px;
      }

      margin-top: 57px;
    }

    &--second {
      margin-top: 87px;
    }

    &-wrapper {
      @include desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &-header {
      @include tablet {
        padding-bottom: 24px;
        font: $cormorant-medium;
        text-align: right;
      }

      @include desktop {
        &:first-child {
          text-align: left;
        }
        &:nth-child(2) {
          text-align: right;
        }
      }

      font: $cormorant-small;
      font-style: italic;
      border-bottom: 1px solid $black;
      border-bottom-width: 100%;
    }

    &-items {
      @include desktop {
        flex-basis: 64%;
      }
    }

    &-item {
      @include tablet {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 52px;
      }

      margin-top: 60px;
    }

    &-date {
      font: $cormorant-small;
    }

    &-title {
      @include tablet {
        margin-top: 0;
      }

      margin-top: 30px;
      font: $futura-small;
      font-weight: 450;
    }

    &-subtitle {
      margin-top: 9px;
      font: $futura-medium;
      font-weight: 450;
    }

    &-link {
      @include tablet {
        align-self: flex-start;
        margin-top: 0;
      }

      display: block;
      margin-top: 30px;
      font: $futura-small;
      color: $black;
    }

    &-icon {
      display: inline-block;
      width: 35px;
      height: 10px;
      margin-left: 19px;
    }

    &-image {
      display: block;
      width: 100%;
      margin: 0 auto;

      &--first {
        @include tablet {
          max-width: 343px;
          margin: 0;
          margin-top: 78px;
          margin-right: auto;
        }

        max-width: 253px;
        margin-top: 47px;
      }

      &--second {
        @include tablet {
          max-width: 458px;
          margin: 0;
          margin-top: 90px;
          margin-left: auto;
        }

        max-width: 336px;
        margin-top: 47px;
      }
    }
  }

  &__handwritten {
    &-text {
      top: -44px;
      left: 0;
      @include tablet {
        top: -94px;
      }
    }
  }
}
