.hero {
  position: relative;
  overflow: hidden;

  &__wrapper {
    @include tablet {
      padding-top: 201px;
      padding-bottom: 82px;
    }

    @include desktop {
      position: relative;
      display: flex;
      justify-content: flex-end;
      padding-top: 282px;
      padding-bottom: 143px;
    }

    padding-top: 182px;
  }

  &__header {
    @include desktop {
      position: absolute;
      left: 0;
      width: 100%;
      overflow: visible;

      &::before {
        position: absolute;
        content: url('../img/hero/decor-full.svg');
        top: 200px;
        right: 53%;
        z-index: -1;
        transform: rotate(254deg);
      }
    }

    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &-sign {
      text-transform: lowercase;
      margin-top: 8px;
      color: $black;
      @include tablet {
        position: absolute;
        bottom: 33%;
        left: 390px;
        margin: 0;
      }

      @include desktop {
        bottom: 35%;
      }
    }

    &-title {
      @include tablet {
        position: relative;
        max-width: 638px;
        font: $desktop-title;
      }

      font: $mobile-title;
      text-transform: uppercase;

      span {
        font: inherit;
        font-style: italic;
      }
    }
  }

  &__gallery {
    @include tablet {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: -90px;
    }

    @include desktop {
      width: 65%;
      overflow: visible;

      &::before {
        position: absolute;
        content: url('../img/hero/decor-full.svg');
        top: 160px;
        right: 37%;
        z-index: -1;
      }

      &::after {
        position: absolute;
        right: 150px;
        bottom: -130px;
        z-index: -1;
        transform: rotate(145deg);
        content: url('../img/hero/decor-mini.svg');
      }
    }

    position: relative;
    margin-top: 50px;
    padding-bottom: 53px;
    overflow: hidden;
  }

  &__image {
    &-first {
      @include tablet {
        float: none;
        width: 96%;
        height: auto;
        margin-bottom: 12px;
      }

      @include desktop {
        margin-bottom: -68px;
      }

      float: right;
      width: 74%;
    }

    &-second {
      @include tablet {
        float: none;
        width: 96%;
        height: auto;
        margin-top: 0;
        padding: 12px;
        background-size: 48% 49%;
      }

      float: left;
      width: 67%;
      margin-top: 25px;
      padding: 7px;
      background: linear-gradient(to right, #000 1px, transparent 1px) 0 0,
        linear-gradient(to left, #000 1px, transparent 1px) 100% 100%,
        linear-gradient(to bottom, #000 1px, transparent 1px) 0 0,
        linear-gradient(to top, #000 1px, transparent 1px) 100% 100%;
      background-repeat: no-repeat;
      background-size: 49% 50%;
    }
  }

  &__decor {
    @include desktop {
      display: none;
    }

    &--first {
      @include tablet {
        top: 782px;
        left: 30%;
        transform: rotate(18deg);
      }

      position: absolute;
      content: url('../img/hero/decor-full.svg');
      top: 470px;
      left: -155px;
      z-index: -1;
      transform: rotate(245deg);
    }

    &--second {
      @include tablet {
        content: url('../img/hero/decor-mini.svg');
        top: 369px;
        right: -13px;
        transform: rotateY(175deg);
      }

      position: absolute;
      content: url('../img/hero/decor-full.svg');
      top: 299px;
      right: -143px;
      z-index: -1;
    }

    &--third {
      @include tablet {
        top: 567px;
        left: -66px;
        transform: rotate(185deg);
      }

      position: absolute;
      right: -60px;
      bottom: 196px;
      z-index: -1;
      content: url('../img/hero/decor-mini.svg');
    }
  }
}
