.order-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid $black;
  padding-top: 18px;
  padding-bottom: 24px;
  &:first-child {
    border-top: 1px solid $black;
  }
  @include tablet {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  &__image {
    width: 340px;
    height: 240px;
    object-fit: cover;
    @include tablet {
      width: 270px;
      max-height: 180px;
    }
  }
  &__description {
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include tablet {
      margin-top: 0px;
      margin-left: 30px;
      width: 100%;
    }
  }
}

.item-description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  &__info {
    flex-basis: 89%;
    @include desktop {
      flex-basis: 50%;
    }
  }

  &__remover {
    position: relative;
    font: $futura-small;
    color: $light-black;
    text-align: right;
    height: 20px;
    border-bottom: 1px solid $light-black;
    @include desktop {
      cursor: pointer;
      order: 3;
    }
  }

  &__btn {
    margin-top: 29px;
    @include desktop {
      margin-top: 0;
      order: 2;
    }
  }

  &__date {
    font: $futura-medium;
    color: $black;
    margin-top: 40px;
    @include desktop {
      order: 2;
      margin-top: 0;
    }
  }

  &__price {
    font: $futura-big;
    font-weight: 450;
    margin-top: 40px;
    @include tablet {
      font-size: 24px;
    }
    @include desktop {
      flex-basis: 100%;
      order: 4;
    }
  }

  &__quantity {
    display: none;
    align-self: flex-end;
    font: $futura-medium;
  }
}

.description-info {
  display: flex;
  flex-direction: column;
  &__name {
    font: $futura-big;
    font-weight: 450;

    @include tablet {
      font-size: 24px;
    }
  }

  &__additional {
    font: $futura-medium;
    color: $black;
    margin-top: 8px;
  }
}

.ordering-form__list {
  .order-item {
    padding-top: 16px;
    padding-bottom: 16px;
    &__image {
      @include desktop {
        width: 182px;
        height: 129px;
      }
    }
  }

  .item-description__info {
    flex-basis: 100%;
    min-height: 52px;
  }

  .item-description__date {
    align-self: flex-end;
  }

  .description-info__name {
    @include tablet {
      font-size: 20px;
    }
  }

  .order-item__description {
    @include tablet {
      margin-left: 23px;
    }
  }

  .item-description__price {
    @include tablet {
      margin-top: 10px;
      flex-basis: 50%;
      text-align: right;
      align-self: flex-end;
    }
  }
}
