.search {
  &__content {
    padding-top: 242px;
    padding-bottom: 159px;

    @include desktop {
      padding-top: 226px;
      padding-bottom: 281px;
    }

    @include desktop {
      padding-bottom: 251px;
    }
  }

  .content-search {
    &__info {
      display: flex;
      justify-content: space-between;
      color: $black;
      font: $futura-small;
      margin-top: 30px;

      @include tablet {
        font: $futura-medium;
        margin-top: 48px;
      }
    }
  }
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  // position: fixed;
  // top: 0;
  // left: 0;
  // z-index: 9999;
  // height: 67px;
  // margin-bottom: 10px;
  // opacity: 0;
  // visibility: hidden;
  // transition: opacity 0.3s ease-in-out, visibility 0s linear 0s;

  // &--active {
  //   opacity: 1;
  //   visibility: visible;
  //   transition: opacity 0.3s ease-in-out, visibility 0s linear 0s;
  // }

  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid $black;
    padding-bottom: 5px;
  }

  input[type='text'] {
    box-sizing: border-box;
    width: 80%;
    height: 60px;
    padding: 11px 0;
    font: $cormorant-mobile;
    font-style: italic;
    color: #000000;
    border: none;

    &:focus {
      border: none;
    }
  }

  button[type='submit'] {
    width: 51px;
    height: 51px;
    font-size: 16px;
    color: white;
    background-color: $primary;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  .submit-icon {
    width: 25px;
    height: 25px;
  }
}
