.headline {
  font: $futura-small;
  text-transform: uppercase;
  color: $black;
}

.title {
  font: $cormorant-mobile;
  text-transform: uppercase;
  color: $black;

  span {
    font: inherit;
    font-style: italic;
  }

  @include tablet {
    font: $cormorant-big;
  }
}

.subtitle {
  font: $futura-small;
  color: $black;
  @include tablet {
    font: $futura-medium;
  }
}
