.headline {
  font: $mobile-text;
  text-transform: uppercase;
  color: $black;
}

.title {
  @include tablet {
    font: $desktop-title;
  }

  font: $mobile-title;
  text-transform: uppercase;
  color: $black;
}
