.trainers {
  padding-top: 78px;
  padding-bottom: 81px;
  background: $secondary;
  position: relative;

  &__subtitle {
    margin-top: 14px;
    font: $futura-small;
    text-transform: lowercase;
  }

  .swiper {
    padding: 0 10px;
    @include tablet {
      padding: 0 34px;
    }
    &-slide {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-top: 41px;
      @include tablet {
        max-width: 711px;
        height: 402px;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-shrink: 0;
      }
      &__image {
        width: 301px;
        height: 377px;
        padding: 8px;
        background: $two-borders-reversed;
        background-repeat: no-repeat;
        background-size: 46% 47%;
      }

      &__description {
        margin-top: 48px;
        margin-left: 10px;
        max-width: 243px;
        @include tablet {
          margin-left: 48px;
          margin-top: 0;
        }
      }

      &__qualification {
        font: $handwritten-small;
        text-transform: lowercase;
        color: $black;
      }

      &__name {
        font: $cormorant-small;
      }

      &__certificate {
        margin-top: 5px;
        font: $futura-small;
        color: $light-black;
        border-bottom: 1px solid $black;
      }

      &__info {
        margin-top: 19px;

        &:first-of-type {
          margin-top: 29px;
        }

        h5 {
          font: $futura-medium;
          color: $black;
        }

        p,
        a {
          font: $futura-small;
          text-transform: uppercase;
          color: $light-black;
        }
      }
    }

    &-nav {
      position: relative;
      display: flex;
      justify-content: space-between;
      max-width: 144px;
      margin-top: 60px;
      margin-left: 10px;
      cursor: pointer;
      @include desktop {
        position: absolute;
        top: 110px;
        right: 420px;
        width: 144px;
      }

      &-next,
      &-prev {
        border: none;
        cursor: pointer;
      }

      .prev-icon,
      .next-icon {
        width: 57px;
        height: 10px;
      }
    }
  }
}
